body {
    background-color: rgb(53, 53, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

div#board-size.row label span{
    width:100px;
}

div#board-size.row .row{
    margin-bottom:0px!important;
}
