body {
    background-color: rgb(53, 53, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

div#boardSize.row label span{
    width:100px;
}

div#boardSize.row .row{
    margin-bottom:0px!important;
}

div.container .row{
    margin-bottom:0px!important;
}

.defaultSquareBoard{
    width: 28px;
    height: 28px;
    border: solid 2px teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
}
