body {
    background-color: rgb(53, 53, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

#game{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div#boardSize.row label span{
    width:100px;
}

div#boardSize.row .row{
    margin-bottom:0px!important;
}

div.container .row{
    margin-bottom:0px!important;
}

#gameFilter{
    margin: 0px!important;
}

#gameBoard{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0px!important;
}

.gameBoardWidth5x5{
    width: 140px!important;
}

.gameBoardWidth10x10{
    width: 280px!important;
}

.gameBoardWidth15x15{
    width: 420px!important;
}

.defaultSquareBoard{
    width: 28px;
    height: 28px;
    border: solid 2px teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
}



