body {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

#game{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div#boardSize.row label span{
    width:100px;
}

div#boardSize.row .row{
    margin-bottom:0px!important;
}

div.container .row{
    margin-bottom:0px!important;
}

#gameFilter{
    margin: 0px!important;
}

#gameBoard{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0px!important;
    padding: 0.75rem!important;
    border: outset teal 10px;
    background-color: grey;
}

.gameBoardWidth5x5{
    width: 203px!important;
}

.gameBoardWidth10x10{
    width: 363px!important;
}

.gameBoardWidth15x15{
    width: 523px!important;
}

.squareUnpressed{
    width: 32px;
    height: 32px;
    border: solid 4px teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
    background-color: #757575;
}

.squarePressed{
    width: 32px;
    height: 32px;
    border: solid 1px #006064;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757575;
}

#gameBoard > div {
    font-weight: 900;
}

