body {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

#game{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div#boardSize.row label span{
    width:100px;
}

div#boardSize.row .row{
    margin-bottom:0px!important;
}

div.container .row{
    margin-bottom:0px!important;
}

#gameFilter{
    margin: 0px!important;
}

#gameBoard{
    display: none;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 50px 50px;
    padding: 0.75rem!important;
    border: outset teal 10px;
    background-color: grey;
}

.gameBoardWidth5x5{
    width: 203px!important;
    min-width: 203px!important;
}

.gameBoardWidth10x10{
    width: 363px!important;
    min-width: 363px!important;
}

.gameBoardWidth15x15{
    width: 523px!important;
    min-width: 523px!important;
}

.squareUnpressed{
    width: 32px;
    height: 32px;
    border: solid 4px teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
    background-color: #757575;
}

.squarePressed{
    width: 32px;
    height: 32px;
    border: solid 1px #006064;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757575;
}

#gameBoard > div {
    font-weight: 900;
}

.visibilityHidden{
    display: none!important;
}

.modal .modal-content {
    padding-bottom: 0px!important;
}

input[type=range] {
    border: 0px !important;
}

#labelRadio{
    margin-bottom: 8px;
}

#time h2{
    margin-top: 0px!important;
    margin-bottom: 25px!important;
}

#tableRecords{
    margin: 0!important;
}

tr {
    border-bottom: 1px solid #26a69a!important;
}

#labelRecords h4{
    margin-top: 0px!important;
}

#records{
    margin: 0px!important;
}

.input-field.col.s12{
    margin-top: 0px!important;
}

#boardSize{
    margin-bottom: 25px!important;
}

.modal-content .input-field.col.s12{
    padding: 0px;
}

.modal-content .input-field.col.s12 label{
    left: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

#record1, #record2, #record3, #record4 {
    display: none;
}